.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0px;
    background-color: #EEEEEE;
    min-height: 100vh;
    padding-bottom: 100px;
}

.main-content .title {
    font-family: 'BigJohn';
    font-size: 30px;
    letter-spacing: 2px;
    color: #1c5abe;
    margin-top: 30px;
    margin-bottom: 25px;
}

.column-id {
    max-width: 30px;
}

.main-content .form-wrap {
    background-color: #FFFFFF;
    width: 500px;
    min-width: 300px;
    box-shadow: 0px 0px 10px #777777;
    border-radius: 10px;
    padding: 30px;
}

.main-content .form-wrap label {
    font-family: monospace;
    color: #777777;
    font-style: italic;
}

.main-content .form-wrap button {
    font-family: '';
    float: right;
}

.main-content .link {
    margin-top: 30px;
}

.main-content .table {
    max-width: 90%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #777777;
    border-radius: 10px;
    text-align: center;
}

.main-content .table thead {
    font-family: monospace;
}

.icon-wrap {
    max-width: 25px;
}

.icon-wrap .icon-edit {
    color: #01a701;
}

.icon-wrap .icon-remove {
    color: #FF0000;
}

.icon-wrap .icon:hover {
    font-size: 20px;
}