body {
    background-color: #EEEEEE;
}

.document-wrap {
    padding: 100px 50px;
    margin: 50px auto;
    background-color: #FFFFFF;
    border: solid 1px #777777;
}

.document-wrap .document-title {
    text-align: center;
    margin-bottom: 20px;
}

.document-link {
    color: #007b5e;
    font-style: italic;
}

.document-link .icone {
    margin-right: 10px;
}

.document-form-information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.document-form-information .form-group {
    margin-left: 10px;
}

.document-form-information label {
    color: #777777;
    font-style: italic;
    font-family: monospace;
}

.document-button-add-item {
    text-align: center;
}

.document-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.document-flex button {
    height: auto;
}

.document-resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
}

.document-resume #MontantTTC {
    color: #aa0505;
}