.main-content {
    padding: 50px;
    background-color: #EEEEEE;
    min-height: 100vh;
    /* width: 75%; */
}

.main-content .title {
    font-family: BigJohn;
    font-size: 25px;
    color: #1c5abe;
}

.main-content .subtitle {
    font-family: Segoe UI;
    font-size: 15px;
    font-style: italic;
}

.main-content table {
    background-color: #FFFFFF;
}

.main-content .information-wrap {
    background-color: #007BFF;
    color: #EEEEEE;
    font-family: Century Gothic;
    padding: 15px;
}

.main-content .information-wrap .info-value {
    font-weight: bolder;
}

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-wrap {
    box-shadow: 0px 0px 3px #777777;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-wrap .form-title {
    font-family: Segoe UI;
    font-size: 20px;
    font-style: italic;
}

.form-wrap form {
    display: flex;
    margin-top: 20px;
}

.form-wrap form .form-group {
    display: flex;
    border-radius: 5px;
    margin: 0px 10px;
}

.form-wrap form .form-group label {
    height: 100%;
    background-color: #EEEEEE;
    color: #777777;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border: #DDDDDD 1px solid;
    font-size: 15px;
    width: auto;
}

.form-wrap form .form-group input,
.form-wrap form .form-group select {
    height: 100%;
    border-radius: 0px;
}

.form-wrap form button {
    background-color: #504c4c;
    color: #FFFFFF;
    font-family: Century Gothic;
    border: #504c4c solid 2px;
}

.form-wrap form button:hover {
    background-color: #FFFFFF;
    border: #504c4c solid 2px;
}

.form-wrap-invert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-wrap-invert form {
    display: flex;
    justify-content: center;
}

.form-wrap-invert form .form-group {
    margin: 0px 10px;
}

.form-wrap-invert form button {
    background-color: #FFFFFF;
    border: #504c4c solid 2px;
    height: 40px;
}

.form-wrap-invert form button:hover {
    background-color: #504c4c;
    color: #FFFFFF;
    border: #504c4c solid 2px;
}

.main-content .card-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .card-wrap .card {
    width: 500px;
    height: 500px;
    background-color: #1c5abe;
    box-shadow: 0px 0px 10px #777777;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content .card-wrap .card .card-title {
    font-family: SlimJoe;
    color: #FFFFFF;
    text-align: center;
}

.main-content .card-wrap a:hover {
    text-decoration: none;
}

.main-content .card-wrap .card:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.main-content .card-wrap .card:hover .card-title {
    color: #1c5abe;
}